<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org//dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.microservices.admin.mapper.SysPermissionMapper">
    <resultMap id="SysPermissionMap" type="com.example.microservices.admin.dto.SysPermissionDTO">
        <id property="id" column="id"/>
        <result property="url" column="url"/>
        <collection property="roles" column="id" ofType="com.example.microservices.admin.entity.SysRole"
                    select="selectRoleByPermissionId">
            <id property="id"/>
            <result property="roleName" column="role_name"/>
            <result property="roleCode" column="role_code"/>
        </collection>
    </resultMap>

    <select id="selectRoleByPermissionId" resultType="com.example.microservices.admin.entity.SysRole">
        select sys_role.*
        from sys_role
        inner join sys_role_permission on sys_role.id = sys_role_permission.role_id and
        sys_role_permission.permission_id = #{id}
        where sys_role.deleted = 0 and sys_role_permission.deleted = 0
    </select>

    <select id="pagePermissionDTO" resultMap="SysPermissionMap">
        select sys_permission.*
        from sys_permission
        ${ew.customSqlSegment}
    </select>

    <select id="getPermissionDTO" resultMap="SysPermissionMap">
        select sys_permission.*
        from sys_permission
        ${ew.customSqlSegment}
    </select>
</mapper>